  *{ 
    box-sizing: border-box;
  }
  header{
    border: 1px solid black;
    padding: 10px;
  }
  body{
    margin: 0;
  }
  ul{
    list-style: none;

  }
  nav ul>li{
    display: inline;
    padding: 10px;
  }
  nav{
    border: 1px solid black;
  }
  aside{
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 450px;
    padding: 20px;
  }
  aside ul>li{
    padding: 20px;;
  }
  article{
    float: left;
    border: 1px solid black;
    width: 80%;
    height: 450px;
    padding: 20px;
  }
  section::after{
    content: "";
    clear: both;
    display: table;
  }
  footer{
    border: 1px solid black;
    padding: 20px;
  }
  @media (max-width: 600px) {
    aside, article{
        width: 100%;
        height: 100%;
    }
  }
  a:link{
    color: brown;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; */
  }
  a:visited{
    color: aqua;
  }
  a:hover{
    color: white;
  }