h1{
    color: red;
    border: 5px solid black;
    /* padding: 40px; */
    text-shadow: 2px 2px 3px blue;
    font-family: "Island Moments", cursive;
}
p{
    color: blue;
    font-size: 160%;
    background-color: aqua;
    border: 20px;
    /* padding: 40px;
    margin: 100px; */
    border-radius: 40px;
}
body{
    background-color: aliceblue;
}