* {
  box-sizing: border-box;
}
body {
  background-color: #82c0ff;
  padding: 20px;
  color: white;
}
.container {
  /* display: flex; */
  /* align-content: center; */
  justify-content: center;
  /* margin-top: 150px; */
}
.fieldset {
  /* border-radius: 10px; */
  border: 1px;
  padding: 10px;
  text-align: start;
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  /* text-indent: 40px; */
}
/* .fieldset hobby {
  display: flex;
  text-align: center;
} */
