body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#050505;
}

/* Global */
#Container{
    width:80%;
    margin:auto;   
    text-align: left;
    font-size:5px;     
}

#container{
    width:80%;
    margin:auto;   
    text-align: right;     
    font-size:5px;  
}

#logo{
    width:80%;
    margin:auto;
    overflow:hidden;    
    text-align: center;     
}

#right{
    width:80%;
    margin:auto;
    overflow:hidden;    
    text-align: right; 
}

#menu{
    background-color:#080808;
}

#MainBody{
    text-align: center; 
    background-color:#ffffff;
}
ul{
    margin:0;
    padding:0;
    text-align: center;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

/* Header */
header{
    text-align: center;
    background:#a4f306;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:black 3px solid;
}

/* Header */
header a{
    color:#ffffff;
    background:#000000;
    text-align: center;
    text-decoration:nona;
    text-transform: uppercase;
    font-size:16px;
}

header ul{
    margin:0;
    padding:0;
    text-align: center;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:black;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Showcase */
#showcase{
    min-height:400px;
    background:uri("./img/tugas.jpg") no-repeat 0 -400px;
    text-align: center;
    color:#ffffff;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;    
}

/* Newslatter */
#newsletter{
    padding: 15px;
    color:#ffffff;
    background:#000000;
}

#newslatter h1{
    float:left;
}

#newslatter form {
    float:right;
}

#newslatter input [type="search"]{
    padding:4px;
    height:25px;
    width:250px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:90;
}

#Footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: #000000;
    text-align: right;
}