* {
    box-sizing: border-box;
  }
  body {
    background-color: #b36666; 
  }
  .container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
  }
  .box{
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    text-align: start;
    background-color: #804040;
  }
  .box p{
    font-weight: bold;
  }